
header {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 40px;
    max-height: fit-content;
    align-items: center;
    color: blue;
}
header .first {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    
}
header .minimal {
    align-self:flex-start ;
}
p span {
    color: black; 
}
input {
    background-color:rgb(241, 241, 241);
    border: none;
    width: 400px;
    height: 30px;
    
}
button {
    border: none;
    background-color: white;
   font-size: 25px;
   padding-bottom: 0;
   margin-bottom:0;
}
.search {
    vertical-align: middle;
}